.board {
  display: grid;
  grid-template-columns: repeat(10, var(--grid-size));
  grid-template-rows: repeat(10, var(--grid-size));
  border: black solid 1px;
  width: calc(var(--grid-size) * 10);
}

.grid {
  border: black solid 1px;
  z-index: 1000;
}

.grid:hover {
  background-color: aquamarine;
}

.miss {
  background-color: goldenrod;
}

.hit {
  background-color: crimson;
}

.ship.grid {
  background-color: var(--ship-color);
}
.ship.grid:hover {
  background-color: var(--ship-color);
}
