.container {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 10%;
}

.change {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
}
